

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -120px;
}

#push {
    height: 120px;
}

#main {
    padding-top: 30px;
}

/*body {
	padding-top: 30px;
}*/

.wf-loading .title {
    visibility:hidden;
}

.wf-inactive .title
{ 
	visibility:visible;
}
 
.wf-active .title {
    font-family: 'Nobile', sans-serif;
    visibility:visible;
}

.title {
	/*text-align: center;*/
	margin-top: 10px;     
	margin-bottom: 40px;       
    font-style: italic;
    font-size: 4em;
}

#title:hover
{
    text-decoration: none;     
}

#title:hover
{
    text-decoration: none;     
}

.studio-orange {
	color: #ff7d00
}

.studio-brown {
	color: #ad5500
}

.header-bar
{   
	position:absolute;
    top:0;
    left:0;
    right:0;
	border-bottom: 7px solid #ad5500;
    background: #ff7d00;
    padding-top: 12px;
    margin-bottom: 10px;          
}

footer {
	padding-top: 30px;
	padding-bottom: 10px;
	background: #ff7d00;
	height: 80px;
	color: #ffffff;          
	text-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px
}

footer a
{
	color: #ffffff;          
}

footer a:hover
{
	color: #ad5500;
	text-decoration: none;          
}

#links
{
    padding: 20px 40px;
    background: #ff7d00;
    color: #ffffff;          
    text-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px
}

#links a
{
    color: #ffffff;             
}

#links a:hover
{
    color: #ad5500;
    text-decoration: none;     
}

/* ====================
           Large
   ==================== */
@media only screen and (min-width: 768px) {

    .title 
    {
        font-size: 5em;
    }

    .twitter-timeline
    {
    	margin-top: 10px;
    }

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-bar, #links {
        -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
           -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.1);
                box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
}

/* ====================
           Small
   ==================== */
@media only screen and (max-width: 767px) {
    footer {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: -20px;
        margin-left: -20px;
    }
}

@media print {

	.twitter-timeline
	{
		display:none;
	}

    .dont-print
    {
        display:none;
    }

}



